.banner {
  background-color: $dark;

  .inner {
    height: 80px;
    max-width: 1140px;
    margin: 0 auto;
  }

  a.brand {
    color: white;
    font-style: italic;
    text-transform: uppercase;
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
    font-size: 1.3rem;
    padding: 1rem;
    font-weight: 500;

    &:hover {
      text-decoration: none;
    }
  }

  #menu-main-menu {
    margin-bottom: 0;

    .dropdown-item {
      color: $dark;
    }

    li {
      @extend .nav-item;

      list-style: none;
      float: left;

      a {
        @extend .nav-link;

        &:hover {
          cursor: pointer;
          color: grey;
        }

        font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
        color: white;
      }
    }
  }
}
